:root{
	--azul:#04C4D9;
	--verde1: #026873;
	--verde2: #37A6A6;
	--blanco: #F2F2F2;
	--gris: #BFBFBF;
}

@font-face{
	font-family: 'Arual';
	src: url(../fuentes/Arual_0.ttf);
}

html{
	font-size: 16px;
}
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.subbody{
	height: 100vh;
	background: linear-gradient(#F2F2F2,  #BFBFBF);

}

header{
	font-size: 35px;
	display: flex;
	height: 20%

}
header .logo{
	display: flex;
	height: 90%;
	width: 30%;
	background: url(../img/logo1.png);
	background-size: cover;
	
}

#menu{
	font-family: 'Arual';
	font-size: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	position: relative;
	left: 16%;
	margin:20px;	
}

#menu a{
	color: #026873;
	text-decoration: none;
	text-shadow: 10px 20px 30px gray;
}

#menu a:hover{
	color: #37A6A6;
}

.video{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 10px;
	margin-top: 4em;
	position: relative;
}

.video p{
	font-family: 'Playfair Display', serif;
	font-size: 2.5em;
	position: absolute;
	right: 75%;
	bottom: 50%;
	color: #026873;
	text-shadow: 10px 20px 30px gray;
}

/*------------------Redes Sociales----------------*/

.social-bar{
	position: fixed;
	right: 0;
	top: 35%;
	font-size:3.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 9; 
}

.icon{
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon:hover{
	padding-right: 6rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0,.42);
}

.fa-facebook{
	background: #2E406E;
	border-radius: 1rem 0 0 0;
	}

.fa-youtube{
	background: #E83028;
	font-size: 3.1rem;
	}

.fa-soundcloud{
	background: #FD7E14;
	font-size: 2.8rem;
	}

.fa-instagram{
	background: #3F60A5;
	font-size: 4rem;
	border-radius:  0 0 0 1rem;
	}
/*------------------imagenes----------------------*/

.galeria{
	display: flex;
	flex-wrap: nowrap;
	margin: auto;
	width: 90%;
	margin-top:4em;
	gap: 1em;
	justify-content: center;
	background-size: cover;
}

.galeria img{
	width: 100%;
	border-radius: 7%;
	object-fit: cover;
	transition: transform .5s;
}

.galeria a:hover img{
	transform: scale(1.2); ;
}

/*.contenedor-imagenes{
	font-size: 10px;
	margin-top: 8em;
}

.contenedor-imagenes .contenedor-carousel .carousel{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	background-size: cover;

}

.contenedor-imagenes .contenedor-carousel .carousel .img-carousel{
	width: 12.5%;
	
}

.contenedor-imagenes .contenedor-carousel .carousel .img-carousel img{
	width: 100%;
	height: 180px;
	vertical-align: top;
	
}*/


/*--------efecto Light Box------------*/

.light-box{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	transition: transform .25s ease-in-out;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}

.light-box:target{
	transform: scale(1);
}

.close{
	display: block;
	position: absolute;
	top: 15%;
	right: 27%;
	background: #04C4D9;
	color: #fff;
	text-decoration: none;
	width: 3.5em;
	height: 3.5em;
	text-align: center;
	line-height: 3.5em;
	border-radius: 50%;
}

.next{
	display: block;
	background: #04C4D9;
	color: #fff;
	height: 3.5em;
	width: 3.5em;
	line-height: 3.5em;
	text-decoration: none;
	text-align: center;
	border-radius: 50%;
}